doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    |     
    link(rel='stylesheet', type='text/css', href='/css/main.dark.css')
    |     
    title Error404
  body
    include navbar.pug   
    h1 Error 404
    |     
    p
      | Oops. File Not Found!
