doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    |     
    link(rel='stylesheet', type='text/css', href='/css/main.dark.css')
    |     
    title Scott&apos;s Tots Foundation
  body
    script(src='/js/saleBanner.js') 
    include navbar.pug
    |     
    #sale-banner
    |     
    h1 The Scott&apos;s Tots Foundation
    h2
      em &quot;Hey Mr. Scott, What you gonna do, What you gonna do make our dreams come true.&quot;
    |     
    img(src='/images/scottstots.jpg', alt="Scott's Tots")
    |     
    .mainbox
      p
        | Scott&apos;s Tots Foundation is a beacon of hope and opportunity for less fortunate students who dream of pursuing higher education after high school. 
        | Established with a profound commitment to breaking down financial barriers, this remarkable organization is dedicated to empowering deserving individuals to achieve their academic aspirations.
        | At its core, 
        em
          | Scott&apos;s Tots believes that every young mind brims with potential, and no one should be denied the chance to reach for the stars due to financial constraints.
      |         
      p
        | Through unwavering dedication, Scott&apos;s Tots offers a lifeline to these ambitious students, providing them with scholarships that pave the way for brighter futures.
        | Financial assistance is available for the following:
      |             
      ol
        li Tuition Fees
        |                 
        li Textbooks
        |                 
        li Housing
        |             
        li Food Allowance
      |  
      p
        | With an emphasis on academic excellence, personal growth, and community involvement, Scott&apos;s Tots nurtures the talents and ambitions of these young individuals, shaping them into future leaders who will make a positive impact on society. 
        | Join us in supporting Scott&apos;s Tots Foundation and be part of a transformative journey that unlocks the potential of our next generation. 
        | Together, we can ensure that no dream goes unfulfilled due to financial constraints, and every student can proudly say, 
        strong &quot;I am a Scott&apos;s Tots scholar.&quot;
    |     
    script(src='/js/main.js')
