ul.navs
  li.nav-item
    a(href='/main') Home
  |                 
  li.nav-item
    a(href='/testimonies') Testimonies
  |                 
  li.nav-item
    a(href='/contact') Schedule a Meeting
  |                 
  li.nav-item
    a(href='/admin/contactlog') Appointments
  |                 
  li#toggle-dark.nav-item
    .moon