doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    |     
    link(rel='stylesheet', type='text/css', href='/css/main.dark.css')
    |     
    title Testimonies
  body
    include navbar.pug
    h1 Testimonies
    |     
    .video
      iframe(width='560', height='315', src='https://www.youtube.com/embed/mO0Hqdj7BVA?si=MDQ4KkIUMsgQ29MO', title='YouTube video player', style='border:0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen='')
    |     
    .review
      p.review-body
        | &quot;As a grateful recipient of a Scott&apos;s Tots Foundation scholarship, I can&apos;t emphasize enough the life-changing impact this organization has had on my educational journey.&quot;
        | Their belief in my potential has boosted my confidence and sense of responsibility to give back.
      |         
      p.reviewer-name
        | Amy Stake
    |     
    .review
      p.review-body
        | &quot;I am eternally thankful to Scott&apos;s Tots Foundation for enabling me to pursue my educational aspirations.
        | Scott&apos;s Tots is a beacon of hope and inspiration, and I&apos;m honored to be part of this family, excited to see how it continues to transform lives, and deeply thankful for the opportunity it has given me to pursue my dreams.&quot;
      |         
      p.reviewer-name
        | Ella Vader
    |     
    .review
      p.review-body
        | &quot;This foundation saved me.&quot;
      |         
      p.reviewer-name
        | General Tsao
    |     
    .review
      p.review-body
        | &quot;I wanted to take a moment to express my heartfelt gratitude for the incredible support you&apos;ve provided me.
        | As an anxious student deeply worried about how I would afford my education, your scholarship has been a true lifeline.
        | You&apos;ve made a profound difference in my life, and I am genuinely grateful for your unwavering support.&quot;
      |         
      p.reviewer-name
        | Anxious Arnie
    |     
    .review
      p.review-body
        | &quot;I&apos;m immensely appreciative of Scott&apos;s Tots Foundation for being a guiding light throughout my educational journey, providing me with invaluable support.&quot;
      |         
      p.reviewer-name
        | Lee King
    |     
    .review
      p.review-body
        | &quot;The staff absolutely rock!&quot;
      |         
      p.reviewer-name
        | Gojo Satoru
    |     
    .review
      p.review-body
        | &quot;Scott&apos;s Tots Foundation has been a game-changer in my pursuit of higher education.
        | Their generous scholarship has alleviated my financial concerns, allowing me to focus on my studies and future with newfound optimism.
        | Thank you, Scott&apos;s Tots, for being the guiding light in my academic journey.&quot;
      |         
      p.reviewer-name
        | Berna Deez
    |     
    script(src='/js/main.js')
